* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100vh;
}
.center-flex {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}